emma
*.o
*.gcov
*.gcda
*.gcno
test/asm_hello
test/asm_hello32
test/bit_counting
test/countinstr
test/environ
test/hello_cpp
test/locale_commas
test/pokefunction
test/rdtsc
test/rscalc
test/sqrt
test/tracer1
test/tst64
test/tstalarm
